<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>delete</title>
</head>
<body>
 <h1> delete your info.</h1>
        <form method="post" action="/user/<%=user.id%>?_method=DELETE">
            <input type="password" placeholder="enter your password " name="password">
            <button> Delete</button>
        </form>
    
</body>
</html>