<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Post</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1 class="insta"> Instagram</h1>
   
   <% for(post of posts){ %>
    <div class="post">
        <h3 class="user"> username:@ <%= post.username %> </h3>
        <h5 class="content"> content: <%= post.content %> </h5>
        <img src="<%= post.image %>" alt="some random image" class="image">
        <a href="https://localhost:8080/posts/<%= post.id %>"> Edit</a>
        <a href=""> Delete</a>
        
    </div>
    
<% } %> <br><br>
<a href="http://localhost:8080/posts/new">Create new post</a>
</body>
</html>